{% extends 'base.html.twig' %}
{% block body %}
    <h1>Change Request List</h1>

    {% for item in changeRequestList %}
        <li>{{item.getId()}} | {{item.getUser().getName()}} | {{item.getDate().format('d/m/Y')}} | {{item.getState()?"true":"false"}} |</li>         
    {% endfor %}

{% endblock %}
