{% extends 'base.html.twig' %}
{% block title %}
	Change Requests
{% endblock %}
{% block body %}
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
	<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/changeRequest.css">
	<body>
		<header>
			<div class="container">
				<h1 class="title">Error interno</h1>
			</div>
		</header>
		
	</body>
{% endblock %}
