{% extends 'base.html.twig' %}

{% block title %}Create internet service
{% endblock %}

{% block body %}
	<body>
		<h1>Create a Internet service</h1>
		<section>
			<form action='create' method='POST'>
				<input name='price' type='number'>
				<input name='speed' type='number'>
				<button>Crear</button>
			</form>
		</section>
	</body>

{% endblock %}
