{% extends 'base.html.twig' %}

{% block title %}Create internet service
{% endblock %}

{% block body %}
<<<<<<< HEAD
	<body>
		<h1>Create a Internet service</h1>
		<section>
			<form action='create' method='POST'>
				<input name='price' type='number'>
				<input name='speed' type='number'>
				<button>Crear</button>
			</form>
		</section>
	</body>

=======
<main>
    <section>
        <h1>Create a Internet service</h1>
        <form action='create' method='POST'>
            <input required placeholder="Mb/s" name='speed' type='number' >
            <input required placeholder="Price" name='price' type='number' >
            <button class="submit">Crear</button>
        </form>
    </section>
</main>
<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/form.css">
>>>>>>> 55c379d7a88aa8cf4d7edec569032e88f70ee60f
{% endblock %}
