main {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section {
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
  padding: 30px;
}

form input,
select,
label {
  width: 96%;
  margin-bottom: 15px;
  padding: 15px 10px;
  outline: none;
}

.submit {
  padding: 15px 0;
  background: lightcoral;
  border: none;
  font-size: 18px;
  font-weight: bolder;
  width: 100%;
  transform: scale(1);
  transition: transform 0.3s;
}

.submit:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
