{% extends 'base.html.twig' %}

{% block title %}Create service{% endblock %}

{% block body %}
    <h1>Success</h1>
    <section>
        <p>The telephony service was successfull created, go to dashboard</p>
        <a href='{{ app.request.getBaseURL() }}'>HERE</a>
    </section>
{% endblock %}
