{% extends 'base.html.twig' %}

{% block title %}Create service{% endblock %}

{% block body %}
    <h1>Create a telephony service</h1>
    <section>
        <form action='create' method='POST'>
            <input name='price' type='number' >
            <input name='minutes' type='number' >
            <button>Crear</button>
        </form>
    </section>
{% endblock %}
