{% extends 'base.html.twig' %}

{% block title %}Proyecto 3{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Practica 1 Parcial 3 UNET</h1>

    <main>
        <section>
            <h2>Hecho por</h2>
            <ul>
                <li><a href="https://github.com/josejmv">Manuel</a></li>
                <li><a href="https://github.com/AlexUnet">Alejandro</a></li>
            </ul>
            
            <a class='start' href='{{ app.request.getBaseURL() }}/user/login'>Iniciar Sesion</a>
            <a class='start' href='{{ app.request.getBaseURL() }}/user/singUp'>Registrarse</a>
        </section>
    </main>
</div>
<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/intro.css">

{% endblock %}
