{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Project in maintenance!</h1>

    made by:
    <ul>
        <li>Manuel</li>
        <li>Alejandro</li>
    </ul>
    Pages:
    <ul>
        <li><a href='{{ app.request.getBaseURL() }}/internet'>Create internet</a></li>
        <li><a href='{{ app.request.getBaseURL() }}/telephony'>Create telephony</a></li>
    </ul>
</div>
{% endblock %}
