{% extends 'base.html.twig' %}

{% block title %}Create cable{% endblock %}

{% block body %}
<main>
    <section>
        <h1>Success</h1>
        <h2>The cable was successfull created, go to dashboard</h2>
        <a href='/dashboard'>HERE</a>
    </section>
</main>
<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/created.css">
{% endblock %}
