{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
<main>
    <section>
        <h1>Error</h1>
            <h2>Chanel already exists</h2>
            <a href='/chanel'>Go to create</a>
    </section>
</main>
<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/created.css">

{% endblock %}