{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/dashboard.css">
	<body>
		<header>
			<div class="container">
                <h1 class="webName">Cable Unet</h1>
				<nav>
					<ul>
						<li><a href="/dashboard">Home</a></li>
						<li><a href="/#">Mis Paquetes</a></li>
						<li><a href="/package">Comprar Paquetes</a></li>
						<li><a href="/change/request/">Solicitud de cambio</a></li>
					</ul>
				</nav>
			</div>
		</header>
        <h2 class="sessionName">Welcome {{sessionName}}</h2>
	</body>
{% endblock %}
