{% extends 'base.html.twig' %}

{% block title %}Hello Dashboard Controller!{% endblock %}

{% block body %}
    <div>
        <h1>Welcome Admin {{sessionName}}</h1>
        <a href="/change/request/">Change Requests</a>
    </div>
{% endblock %}