{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div>
        <h1>Welcome {{sessionName}}</h1>
        <a href="/change/request/">Change Requests</a>
    </div>
{% endblock %}
