{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
<main>
    <section>
        <div>
            <h1>Welcome Admin {{sessionName}}</h1>
            <p><a href="/change/request/">Create internet service</a></p>
            <p><a href="/change/request/">Create telephony service</a></p>
            <p><a href="/change/request/">Create tv service</a></p>
            <p><a href="/change/request/">Create package</a></p>
            <p><a href="/change/request/">tickets list</a></p>
        </div>
    </section>
</main>
<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/adminDashboard.css">
{% endblock %}