{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}

{% block body %}
<main>
    <section>
        <h1>Login</h1>
        <form action="login" method="POST">
            <input required type="email" name="mail" placeholder="email">
            <input required type="password" name="password" placeholder="password">
            <input class="submit" type="submit">
        </form>
    </section>
</main>
<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/login.css">

{% endblock %}