{% extends 'base.html.twig' %}

{% block title %}Not Found{% endblock %}

{% block body %}
<main>
    <section>
        <h1>Error</h1>
        <h2>User Not Found</h2>
        <a href='{{ app.request.getBaseURL() }}/user/login'>Go to login</a>
    </section>
</main>
<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/notFound.css">

{% endblock %}