{% extends 'base.html.twig' %}
{% block header %}
<h1>Sing Up</h1>
{% endblock %}

{% block body %}

<form action="create" method="POST">
    <div>
        <ul>
            <li>
                <label>Name</label>
                <input type="text" name="name" placeholder="Username">
            </li>
            <li>
                <label>Last name</label>
                <input type="text" name="lastName" placeholder="lastName">
            </li>
            <li>
                <label>Password</label>
                <input type="password" name="password" placeholder="password">
            </li>
            <li>
                <label>Mail</label>
                <input type="mail" name="mail" placeholder="mail">
            </li>
            <li>
                <label>Phone</label>
                <input type="textnumber" name="phone" placeholder="+58">
            </li>
            <li>
                <input type="submit">
            </li>
        </ul>
    </div>
</form>

{% endblock %}