{% extends 'base.html.twig' %}
{% block title %} <h1>Welcome to Cable Unet</h1> {% endblock %}}

{% block body %}
    <div>
        <h2>Lets start</h2>
        <a href="user/login">Login</a>
        <a href="user/singUp">singUp</a>
    </div>

{% endblock %}